<!DOCTYPE html>
<html>

<head>
    <title>Assignment 5.2</title>
</head>

<body>
  <div role="main" class="container">
    <br /><br />
    <h2>Name List</h2>

    <!-- if -->
    <% if (names.length > 0) { %>
      <% for (var k = 0; k < names.length; k++) { %>
        <div class="alert alert-success" role="alert"><strong><%= names[k] %></strong></div>
      <!-- end for loop -->
      <% } %>
    <!-- // end if -->
    <% } %>
  </div>

</body>
</html>
