<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Employee #</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Department</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">001</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Admin</td>
    </tr>
    <tr>
      <th scope="row">002</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th scope="row">003</th>
      <td>Larry</td>
      <td>Bird</td>
      <td>Product</td>
    </tr>
  </tbody>
</table>
