<!DOCTYPE html>
<html lang="en">
<%- include("header"); %>

<body>
  <%- include("navbar"); %>

  <div role="main" class="container" style="width: 50%;">
    <br /><br />

    <h2>Create a new employee</h2>
    <form method="post" action="/process">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" />
      </div>

      <div class="form-group">
        <label for="empID">Employee Number:</label>
        <input type="text" class="form-control" id="empID" name="empID" />
      </div>

      <div class="form-group">
        <label for="department">Department:</label>
        <input type="text" class="form-control" id="department" name="department" />
      </div>

      <div class="form-group">
        <!-- CSRF token -->
        <input name="_csrf" value="<%= csrfToken %>" type="hidden" />

        <button type="submit" class="btn btn-primary float-right">
          Submit
        </button>
      </div>
    </form>

    <br /><br />

    <a href="/">Return to Home Page</a>
  </div>

  <%- include("scripts"); %>
</body>

</html>
