<!DOCTYPE html>
<html lang="en">
<%- include("header"); %>

<body>
  <%- include("navbar"); %>

  <div role="main" class="container" style="width: 50%;">
    <br /><br />

    <h2>Create a new employee</h2>
    <form method="post" action="/process">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" />
      </div>

      <div class="form-group">
        <label for="empID">Employee Number:</label>
        <input type="text" class="form-control" id="empID" name="empID" />
      </div>

      <div class="form-group">
        <label for="department">Department</label>
        <select class="form-control" id="department" name="department">
          <option disabled selected>Please Select</option>
          <option>Admin</option>
          <option>Call Center</option>
          <option>Creative</option>
          <option>Marketing</option>
          <option>Product Development</option>
        </select>
      </div>

      <div class="form-group">
        <!-- CSRF token -->
        <input name="_csrf" value="<%= csrfToken %>" type="hidden" />

        <button type="submit" class="btn btn-primary float-right">
          Submit
        </button>
      </div>
    </form>

    <br /><br />

    <a href="/">
      <svg class="bi bi-arrow-left-short" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
          clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd" />
      </svg>
      Return to Home Page
    </a>
  </div>

  <%- include("scripts"); %>
</body>

</html>
